{% extends 'base.html' %}

{% block content %}

<div class="column is-one-third">
    <div class="block">
        <a href="{% url 'core:profile_list' %}">
            <button class="button is-dark is-outlined is-fullwidth">All Profiles</button>
        </a>
    </div>

    <div class="block">
        {% if request.user.profile and request.user.profile.id %}
            <a href="{% url 'core:profile' request.user.profile.id %}">
            <button class="button is-success is-light is-outlined is-fullwidth">My Profile</button>
            </a>
        {% else %}
            <p class="has-text-grey-light">Profile not available</p>
        {% endif %}
    </div>
</div>

<div class="column">
    {% for followed in user.profile.follows.all %}
        {% for feed in followed.user.feeds.all %}
            <div class="box">
                {{ feed.get_action_display }} <strong>{{ feed.book.title }}</strong>
                <span class="is-small has-text-grey-light">
                    ({{ feed.timestamp|date:"M d, H:i" }} by
                    <a href="{% url 'core:profile' followed.id %}">{{ followed.user.username }}</a>)
                </span>
            </div>
        {% endfor %}
    {% endfor %}

    {% for followed in user.profile.follows.all %}
        {% for note in followed.user.notes.all %}
            <div class="box">
                {{ note.content }}
                <span class="is-small has-text-grey-light">
                    ({{ note.timestamp|date:"M d, H:i" }} by
                    <a href="{% url 'core:profile' followed.id %}">{{ followed.user.username }}</a>)
                </span>
            </div>
        {% endfor %}
    {% endfor %}
</div>

<div class="column is-one-third">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-success is-fullwidth is-medium mt-5" type="submit">
            Note
        </button>
    </form>
    {% if user.is_authenticated %}
        {% include "registration/_logout.html" %}
        <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'core:sign_up' %}">Sign up</a>
    {% endif %}
</div>



{% endblock content %}
