{% extends 'base.html' %}

{% block content %}

<div class="column is-one-third">
    <div class="block">
        <a href="{% url 'core:profile_list' %}">
            <button class="button is-dark is-outlined is-fullwidth">All Profiles</button>
        </a>
    </div>

    <div class="block">
        {% if request.user.profile and request.user.profile.id %}
            <a href="{% url 'core:profile' request.user.profile.id %}">
            <button class="button is-success is-light is-outlined is-fullwidth">My Profile</button>
            </a>
        {% else %}
            <p class="has-text-grey-light">Profile not available</p>
        {% endif %}
    </div>
</div>

<div class="column">
    <h2 class="title">Activity</h2>
    {% for item in page_obj %}
            <div class="box">
                {% if item.type == "feed" %}
                    {{ item.get_action_display }} <strong>{{ item.book.title }}</strong>
                {% elif item.type == "note" %}
                    {{ item.content }}
                {% endif %}
                <span class="is-small has-text-grey-light">
                    ({{ item.timestamp|date:"M d, H:i" }} by
                    <a href="{% url 'core:profile' item.user.profile.id %}">{{ item.user.username }}</a>)
                </span>
            </div>
    {% endfor %}

    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
      {% endif %}
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </div>

</div>

<div class="column is-one-third">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-success is-fullwidth is-medium mt-5" type="submit">
            Note
        </button>
    </form>
    {% if user.is_authenticated %}
        {% include "registration/_logout.html" %}
        <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'core:sign_up' %}">Sign up</a>
    {% endif %}
</div>



{% endblock content %}