{% extends 'base.html' %}

{% block content %}
<div class="block">
    <!-- Back to Profile Button -->
    <a href="{% url 'core:profile' profile.pk %}">
        <button class="button is-light">
            ← Back to Profile
        </button>
    </a>
</div>

<div class="block">
    <h2 class="title is-3">
        My Book List
        <a href="{% url 'core:add_userbook' %}">
            <button class="button is-dark is-outlined">Add</button>
        </a>
    </h2>
    <ul>
        {% for item in user_books %}
            <li>{{ item.book.title }} by {{ item.book.author }} — {{ item.get_status_display }}</li>
            <a href="{% url 'core:edit_userbook' item.pk %}">Edit</a> |
            <a href="{% url 'core:delete_userbook' item.pk %}">Delete</a>
        {% empty %}
            <li>You haven’t added any books yet.</li>
        {% endfor %}
    </ul>
    <div class="pagination">
      <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </div>
{% endblock %}
