{% extends 'base.html' %}

{% block content %}

<div class="columns">
    <!-- Left column: User profile and buttons -->
    <div class="column is-one-third">
        <div class="block">
            <a href="{% url 'core:profile_list' %}">
                <button class="button is-dark is-outlined is-fullwidth">
                    All Profiles
                </button>
            </a>
        </div>

        <div class="block">
            <h3 class="title is-4">
                {{ profile.user.username }} follows:
            </h3>
            <div class="content">
                <ul>
                    {% for following in profile.follows.all %}
                        <li><a href="{% url 'core:profile' following.id %}">{{ following }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="block">
            <h3 class="title is-4">
                {{ profile.user.username }} is followed by:
            </h3>
            <div class="content">
                <ul>
                    {% for follower in profile.followed_by.all %}
                        <li><a href="{% url 'core:profile' follower.id %}">{{ follower }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Right column: User book list -->
    <div class="column">
        <div class="block">
            <h1 class="title is-1">
                <a href="{% url 'core:my_books' %}">
                    {{ profile.user.username|upper }}'s Books
                </a>
            </h1>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="buttons has-addons">
            {% if profile in user.profile.follows.all %}
                <button class="button is-success is-static">Follow</button>
                <button class="button is-danger" name="follow" value="unfollow">
                    Unfollow
                </button>
            {% else %}
                <button class="button is-success" name="follow" value="follow">
                    Follow
                </button>
                <button class="button is-danger is-static">Unfollow</button>
            {% endif %}
            </div>
        </form>

        <div class="block">
            <h2 class="title is-3">My Book Stats </h2>
            <ul>
                <li><strong><a href="{% url 'core:my_books' %}">Books:</a></strong> {{ num_books }}</li>
                <li><strong><a href="{% url 'core:filtered_books' 'to_read' %}">Books to read:</a></strong> {{ num_to_read }}</li>
                <li><strong><a href="{% url 'core:filtered_books' 'reading' %}">Books reading currently:</a></strong> {{ num_reading }}</li>
                <li><strong><a href="{% url 'core:filtered_books' 'finished' %}">Books finished reading:</a></strong> {{ num_finished }}</li>
            </ul>
        </div>

        <div class="content">
        {% for note in profile.user.notes.all %}
            <div class="box">
                {{ note.content }}
                <span class="is-small has-text-grey-light">
                    ({{ note.timestamp }})
                </span>
            </div>
        {% endfor %}
        </div>

        <div class="content">
        {% for feed in profile.user.feeds.all %}
            <div class="box">
                {{ feed.action }} {{feed.book}}
                <span class="is-small has-text-grey-light">
                    ({{ feed.timestamp }})
                </span>
            </div>
        {% endfor %}
        </div>

    </div>
</div>

{% endblock content %}
